*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lucida Sans';
}
body{
  
    background: url('../img/fondonosotros.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

